{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block inner_content %}
<div class="panel panel-default">
    <div class="panel-body panel-account-body">
        <div class="col-md-12">
            <div class="col-md-9">
                <h3><b>Edit profile</b></h3>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="col-md-12">
            <form class="form" action="{{ url_for('.edit') }}" method="post" enctype=multipart/form-data role="form">
                <div class="col-md-12">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    <p>Profile picture</p>
                    <div class="clearfix">
                        <div class="profile-pic-wrapper pull-left">
                            <img src="{{current_user.profile_pic_url or url_for('static', filename='profile_pic.png')}}" class="profile-pic" width="64" height="64"/>
                        </div>
                        {{ wtf.form_field(form.profile_pic, accept='image/*') }}
                    </div>
                    {{ wtf.form_field(form.name) }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.submit, class='btn btn-primary btn-raised') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
