{% extends "layout.html" %}
{% block inner_content %}
{% for role in roles %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ role.title }}s</h3>
    </div>
    <div class="panel-body panel-users-body">
        {% for user in role.users %}
            <div class="col-md-12">
                <img src="{{ user.profile_pic_url or url_for('static', filename='profile_pic.png') }}" class="pull-left profile-pic" width="36" height="36"/>
                <div><a href="{{ url_for('account.show', user_id=user.id) }}">{{ user.name }}</a></div>
                <div><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
            </div>
        {% else %}
            <big><em>No {{ role.title }}s added</em></big>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
