{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
{% endblock%}
{% block inner_content %}
<form class="form-horizontal" action="{% block form_action %}{{ url_for('assets.edit', asset_id=asset_id) }}{% endblock %}" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.name, form_type='horizontal') }}
    {{ wtf.form_field(form.type, form_type='horizontal') }}
    {{ wtf.form_field(form.description, form_type='horizontal', rows=4) }}
    {{ wtf.form_field(form.serial_no, form_type='horizontal') }}
    {{ wtf.form_field(form.code, form_type='horizontal') }}
    {{ wtf.form_field(form.purchased, form_type='horizontal', id='purchase_date') }}
    {{ wtf.form_field(form.submit, class='btn btn-primary btn-raised', form_type='horizontal') }}
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script>
$(function () {
    $('#purchase_date').datetimepicker({format: 'DD/MM/YYYY'});
    })
</script>
{% endblock %}