body {
    background-color: #F8F8F8;
    margin-bottom: 70px
}
.panel-users-body > div,
.panel-asset-body > div {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.inline-block {
    display: inline-block;
}
.panel-account-body > div{
    padding-bottom: 2em;
}
.profile-pic {
    margin-right: 1em;
    border-radius: .4em;
}
