{% extends "bootstrap/base.html" %}
{% block title %}Inventory Manager{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='bootstrap-material-design/css/bootstrap-material-design.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap-material-design/css/ripples.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock%}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Inventory Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('assets.index') }}">Assets</a></li>
                    <li><a href="{{ url_for('users') }}">Users</a></li>
                {% else %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('invite_user') }}">Invite user</a></li>
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }}
            <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('login', next=request.args.get('next')) }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if heading %}
            <h3 class="page-header">
                {{ heading }}
            </h3>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% else %}
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block inner_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='bootstrap-material-design/js/ripples.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-material-design/js/material.min.js') }}"></script>
<script>
    $.material.init()
</script>
{% endblock %}
